extends ../layout

block content
    a(href='/books') Home
    br
    a(href='/books/create') New Book
    br
    a(href='/users') Users
    br
    br
    form(action='/books/search', method='get')
        input(type='text', name='name', value=value ? value : '', placeholder='Search book')
        input(type='submit', value='Submit')
    ul 
        each book in books
            li= book.name
                span &nbsp; &nbsp;
                    a(href='/books/' + book.id) View
                span &nbsp; &nbsp;
                    a(href='/books/' + book.id + '/delete') Delete