extends ../layout

block content
    a(href='/users') Back
    br
    br
    form(action='/users/' + user.id + '/edit', method='post')
        input(type='text', name='name', value= user.name)
        input(type='submit', value='Submit')